In [1]:
import os
os.environ["JAVA_HOME"] = "C://Program Files//Java//jdk-11"
os.environ["SPARK_HOME"] = "C://Program Files//Spark//spark-3.5.5-bin-hadoop3"

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [39]:
## READ
df = spark.read.options(header=True).csv('user.csv')

In [40]:
## SCHEMA
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Education: string (nullable = true)

In [41]:
# df.select(['ID', 'Name']).show()
df.select(df.columns[:2]).show()

+---+--------+
| ID|    Name|
+---+--------+
|  1| Oswaldo|
|  2|   Edgar|
|  3|  Manuel|
|  4| Esteban|
|  5|Fernanda|
|  6|   Maria|
|  7|   Oscar|
|  8|   Cesar|
+---+--------+

In [42]:
df.describe().show()

+-------+-----------------+-------+-----------------+------------------+-----------------+----------+
|summary|               ID|   Name|              Age|        Experience|           Salary| Education|
+-------+-----------------+-------+-----------------+------------------+-----------------+----------+
|  count|                8|      8|                8|                 8|                5|         6|
|   mean|              4.5|   NULL|           32.375|             5.375|          30400.0|      NULL|
| stddev|2.449489742783178|   NULL|8.895223437328598|3.2923070504261465|12778.88884058391|      NULL|
|    min|                1|  Cesar|               22|                10|            15000| Doctorate|
|    max|                8|Oswaldo|               50|                 7|            45000|University|
+-------+-----------------+-------+-----------------+------------------+-----------------+----------+

In [43]:
## Adding columns

df = df.withColumn('ExperienceCost', df['Salary'] / df['Experience'])

In [53]:
df.show()

+---+--------+---+----------+------+----------+-----------------+
| ID|    Name|Age|Experience|Salary| Education|   ExperienceCost|
+---+--------+---+----------+------+----------+-----------------+
|  1| Oswaldo| 25|         4| 40000|University|          10000.0|
|  2|   Edgar| 40|        10| 45000|HighSchool|           4500.0|
|  3|  Manuel| 30|         5| 20000|      NULL|           4000.0|
|  4| Esteban| 22|         2| 15000|University|           7500.0|
|  5|Fernanda| 33|         7| 32000|University|4571.428571428572|
|  6|   Maria| 30|         3|  NULL| Doctorate|             NULL|
|  7|   Oscar| 50|        10|  NULL|      NULL|             NULL|
|  8|   Cesar| 29|         2|  NULL| Doctorate|             NULL|
+---+--------+---+----------+------+----------+-----------------+

In [63]:
### Dropping columns

# df = df.drop('Experience')

df.dropna(thresh=6).show()

+---+--------+---+----------+------+----------+-----------------+
| ID|    Name|Age|Experience|Salary| Education|   ExperienceCost|
+---+--------+---+----------+------+----------+-----------------+
|  1| Oswaldo| 25|         4| 40000|University|          10000.0|
|  2|   Edgar| 40|        10| 45000|HighSchool|           4500.0|
|  3|  Manuel| 30|         5| 20000|      NULL|           4000.0|
|  4| Esteban| 22|         2| 15000|University|           7500.0|
|  5|Fernanda| 33|         7| 32000|University|4571.428571428572|
+---+--------+---+----------+------+----------+-----------------+

In [38]:
### Rename Column Name
df = df.withColumnRenamed('Name', 'FirstName')
df.show()

+---+---------+---+
| ID|FirstName|Age|
+---+---------+---+
|  1|  Oswaldo| 25|
|  2|    Edgar| 40|
|  3|   Manuel| 30|
+---+---------+---+